# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Uploaded files
static/uploads/*
!static/uploads/.gitkeep

# Large dataset
dataset/

# Videos
videos/

# OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Logs
*.log